body {
  margin: 0;

  background: -moz-linear-gradient(45deg, rgba(0,74,33,1) 0%, rgba(0,98,44,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,74,33,1)), color-stop(100%, rgba(0,98,44,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(0,74,33,1) 0%, rgba(0,98,44,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(0,74,33,1) 0%, rgba(0,98,44,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(0,74,33,1) 0%, rgba(0,98,44,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(0,74,33,1) 0%, rgba(0,98,44,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00622c', endColorstr='#004A21',GradientType=0 ); /* ie6-9 */
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: -moz-linear-gradient(45deg, rgba(0,74,33,1) 0%, rgba(0,98,44,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,74,33,1)), color-stop(100%, rgba(0,98,44,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(0,74,33,1) 0%, rgba(0,98,44,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(0,74,33,1) 0%, rgba(0,98,44,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(0,74,33,1) 0%, rgba(0,98,44,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(0,74,33,1) 0%, rgba(0,98,44,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00622c', endColorstr='#004A21',GradientType=0 ); /* ie6-9 */
}

.jumbotron { 
  background-color: transparent !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

img {
  width: 100%;
}

.filler {
  height: 10vh;
}

.header p {
  color: #fff;
  font-weight: 400;
  padding: 5vh 0 0 0;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  .header p{font-size: 25px;}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .header p{font-size: 30px;}
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  .header p{font-size: 40px;}
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  .header p{font-size: 50px;}
}

.ghost {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-size: 5vw;
  margin-top: 3vh;
  padding: 3px 3px 3px 3px;
  font-weight: normal;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-weight: 400;
  border-radius: 6px;
  width: 100%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}
.ghost:hover, .ghost:active {
  color: #00622c;
  background:#fff;
}

.white-text{
  color:#fff;
}

.white-text:hover, .white-text:active{
  color: #00c759;
  text-decoration: none;
}