body
  font-family: "Raleway", sans-serif

.sidebar-sticky
  text-align: center

.sidebar h3
  color: white
  font-family: "Raleway", sans-serif
  font-weight: 400

.col
  display: inline-block
  padding-right: 7px

.next
  float: right
  margin-bottom: 50px

.prev
  float: left
  margin-bottom: 50px

